<footer class="page-footer black">
    <div class="footer-copyright blue">
        <div class="container">
            All articles belong to
            <a href='http://www.theverge.com/tech' style="color: orange" target="_blank">The Verge</a>
            <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
        </div>
    </div>
</footer>